*{
	margin: 0;
	padding: 0;
	
}

header{
	background-image: url("path");height: 100vh;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5), url("images/"));
	
}

.Basic Details{
	border: 1px solid grey;
	background-color: white;
	
}

.nav-menu{
	float: right;
	list-style: none;
	margin-top: 30 px;
}
.nav-menu li{
	display: inline-block;
}

.nav-menu a {
	color: turquoise;
	text-decoration: none;
	padding: 5px 20px;
	font-family: Verdana, sans-serif;
	font-size: 20px;
}

.nav-menu li a :hover{
	border: 1 px solid grey;
	background-color: white;
}

.tagline{
	position: absolute;
	width: 1200px;
	margin-left: 0;
	margin-top: 0;
}

h1{
	color: white;
	font-size: 50px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	margin-top: 275px;
}


.bttn{
	border: 1px solid white;
	padding: 10px 30px;
	color: yellow;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 22px;
	text-decoration: none;
}

.Adopt a:hover{
	background-color: burlywood;

}
